
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <title>Travel weather app</title>
</head>

<body>
    <script>
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
  <header>
      <h1>✈️🚄🚗🚈 Travel WeatherApp 🏖️🏄🌞🌨️</h1>
  </header>
  <form id="input-form" class="input-form">
      <div id="destination" class="user-input">
          <label for="destination-city">Destination City</label>
          <input type="text" id="destination-city" placeholder="Enter destination city">
      </div>
      <div id="departure" class="user-input">
          <label for="departure-date">Departure Date</label>
          <input type="date" id="departure-date">
      </div>
      <div id="return" class="user-input">
          <label for="return-date">Return Date</label>
          <input type="date" id="return-date">
      </div>
      <div id="units" class="user-input">
          <legend>Select units:</legend>
          <div class="radio">
              <label for="metric">Metric</label>
              <input type="radio" name="units" id="metric" value="metric" checked>
              <label for="imperial">Imperial</label>
              <input type="radio" name="units" id="imperial" value="imperial">
          </div>
      </div>
      <div id="error-message" class="error-message"></div>
      <input type="submit" id="submit-button" class="button" value="Submit">
      <input type="submit" onClick="window.print()" id="submit-button" class="button" value="Print this Page">
      <input type="submit" id="clear-button" class="button" value="Clear Saved Data">

  </form>
  <section id="results-container" class="results-container">
      <h2 id="how-many-sleeps"></h2>
      <div id="location-image-container" class="location-image-container"></div>
      <h2 id="forecast-title"></h2>
  </section>
  <section id="forecast-card-container" class="forecast-card-container"></section>
  <footer>
    <nav class="fnav">
        <ul>
            <li><a href="https://github.com/sravanthiganti" target="_blank"><i class="fab fa-github-square"></i> Udacity's Front End Web Developer Nanodegree Capstone Project by Maruti Karra </a></li>
        </ul>
    </nav>
</footer>
</body>
</html>